$colorTextWhite: #FFFFFF;
$colorTextBlack: #202020;
$colorTextGrey: #CACACA;

$colorSticker: #333333;

$colorDate: #999999;

$colorButton: #FF6E30;
$colorButton2: #BC572B;
$colorButton3:#CE4307;

$colorMobile: #4A4A4A;
