@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Roboto-Regular"), local("Roboto-400"), url("fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Roboto-Bold"), local("Roboto-700"), url("fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: 'TTFirsNeue';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("TTFirsNeue-Regular"), local("TTFirsNeue-400"), url("fonts/TTFirsNeue-Regular.woff") format("woff");
}

@font-face {
  font-family: 'TTFirsNeue';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("TTFirsNeue-Bold"), local("TTFirsNeue-700"), url("fonts/TTFirsNeue-Bold.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Roboto';
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: 'TTFirsNeue';
}

html,
body,
p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

@media (max-width: 1024px) {
  .container {
    max-width: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding-right: 27px;
    padding-left: 27px;
  }
}

@media (max-width: 576px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  height: 50px;
  padding: 12px 20px;
  font-weight: 700;
  -webkit-transition-property: background-color, color, border-color;
  transition-property: background-color, color, border-color;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

@media (max-width: 576px) {
  .btn {
    height: 40px;
    padding: 9px 19px;
    font-size: 14px;
  }
}

.input {
  height: 50px;
  padding-left: 23px;
  border: none;
  outline: none;
}

@media (max-width: 576px) {
  .input {
    height: 40px;
    font-size: 14px;
  }
}

.header {
  background-color: #202020;
}

@media (max-width: 768px) {
  .header {
    background-color: none;
  }
}

.header__container {
  display: -ms-grid;
  display: grid;
  height: 80px;
  -ms-grid-columns: 25.6% 1fr 16.9%;
      grid-template-columns: 25.6% 1fr 16.9%;
}

@media (max-width: 1024px) {
  .header__container {
    -ms-grid-columns: 25.6% 1fr 16.4%;
        grid-template-columns: 25.6% 1fr 16.4%;
  }
}

@media (max-width: 768px) {
  .header__container {
    height: 125px;
    padding: 0;
    -ms-grid-rows: 80px 45px;
        grid-template-rows: 80px 45px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    background-color: #202020;
  }
}

@media (max-width: 320px) {
  .header__container {
    height: 115px;
    -ms-grid-rows: 70px 45px;
        grid-template-rows: 70px 45px;
  }
}

.header__logo {
  padding-top: 24px;
}

@media (max-width: 1024px) {
  .header__logo {
    padding-top: 27px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media (max-width: 576px) {
  .header__logo {
    padding-left: 20px;
  }
}

@media (max-width: 320px) {
  .header__logo {
    padding-top: 36px;
  }
}

.header__nav {
  padding-top: 30px;
}

@media (max-width: 768px) {
  .header__nav {
    padding-top: 12px;
    padding-left: 27px;
    padding-right: 27px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    background-color: #4A4A4A;
  }
}

@media (max-width: 576px) {
  .header__nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header__social {
  padding-top: 26px;
}

@media (max-width: 1024px) {
  .header__social {
    display: none;
  }
}

.header__search {
  display: none;
}

@media (max-width: 1024px) {
  .header__search {
    display: block;
    width: 25px;
    height: 25px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media (max-width: 768px) {
  .header__search {
    margin-right: 27px;
  }
}

@media (max-width: 576px) {
  .header__search {
    margin-right: 20px;
  }
}

@media (max-width: 320px) {
  .header__search {
    width: 20px;
    height: 20px;
    padding-top: 5px;
  }
}

.logo__img {
  width: 190.25px;
  height: 30.7px;
}

@media (max-width: 1024px) {
  .logo__img {
    width: 166px;
    height: 26.79px;
  }
}

@media (max-width: 320px) {
  .logo__img {
    width: 111.55px;
    height: 18px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "TTFirsNeue";
}

@media (max-width: 576px) {
  .nav__list {
    margin-top: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 28px;
  }
}

.nav__link {
  font-size: 16px;
  color: #FFFFFF;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.nav__link:hover {
  color: #FF6E30;
}

.nav__link:focus {
  color: #BC572B;
}

.nav__link:active {
  background-color: #BC572B;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .nav {
    position: absolute;
    z-index: 10;
    top: 80px;
    left: 0;
    width: 300px;
    height: 541px;
    padding-top: 12px;
    padding-left: 20px;
    background-color: #202020;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@media (max-width: 320px) {
  .nav {
    top: 70px;
  }
}

.nav__close {
  display: none;
}

@media (max-width: 576px) {
  .nav__close {
    display: block;
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
    background-color: #666666;
    border-radius: 50px;
    border: none;
    cursor: pointer;
  }
}

.search__btn {
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: #202020;
  border: none;
  cursor: pointer;
  fill: #BCBCBC;
}

@media (max-width: 320px) {
  .search__btn {
    width: 20px;
    height: 20px;
  }
}

.search__form {
  position: fixed;
  right: 27px;
  width: 343px;
  height: 30px;
  background-color: #202020;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0, 0.33, 0.03, 0.94);
  transition: -webkit-transform 0.4s cubic-bezier(0, 0.33, 0.03, 0.94);
  transition: transform 0.4s cubic-bezier(0, 0.33, 0.03, 0.94);
  transition: transform 0.4s cubic-bezier(0, 0.33, 0.03, 0.94), -webkit-transform 0.4s cubic-bezier(0, 0.33, 0.03, 0.94);
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

@media (max-width: 576px) {
  .search__form {
    right: 20px;
    top: 27px;
    width: 278px;
  }
}

.search__input {
  position: absolute;
  width: 313px;
  height: 25px;
  padding: 0;
  font-size: 16px;
  font-family: "TTFirsNeue";
  color: #E9E9E9;
  background: #202020;
  border: none;
  border-bottom: 1px solid #E9E9E9;
  outline: none;
}

.search__input:hover {
  border-bottom-color: #FF6E30;
}

.search__input:focus {
  border-bottom-color: #FF6E30;
}

.search__input:active {
  border-bottom-color: #CE4307;
}

@media (max-width: 576px) {
  .search__input {
    width: 248px;
    font-size: 14px;
  }
}

.search__close {
  position: relative;
  left: 318px;
  width: 23px;
  height: 23px;
  fill: #FFFFFF;
  background-color: #FF6E30;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .search__close {
    left: 255px;
    width: 19px;
    height: 19px;
    background-color: #C4C4C4;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}

.social__item {
  width: 30px;
  height: 30px;
}

.social__icon {
  fill: #CACACA;
  -webkit-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.social__icon:hover {
  fill: #FF6E30;
}

.social__icon:focus {
  fill: #CE4307;
}

.social__icon:active {
  fill: #BC572B;
}

.burger {
  display: none;
}

@media (max-width: 576px) {
  .burger {
    display: block;
    width: 20px;
    height: 18px;
    fill: #FFFFFF;
    background-color: #4A4A4A;
    border: none;
    cursor: pointer;
  }
}

.call {
  display: none;
}

@media (max-width: 576px) {
  .call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 210px;
  }
}

.is-active {
  -webkit-transform: none;
          transform: none;
}

.main__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding-top: 32px;
  padding-bottom: 68px;
}

@media (max-width: 1024px) {
  .main__container {
    padding-top: 34px;
  }
}

@media (max-width: 576px) {
  .main__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 422px 400px;
        grid-template-rows: 422px 400px;
    grid-gap: 34px;
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

@media (max-width: 320px) {
  .main__container {
    -ms-grid-rows: 422px 375px;
        grid-template-rows: 422px 375px;
  }
}

.master-class {
  position: relative;
  margin-top: 9px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./images/mainfoto.jpg");
}

@media (max-width: 1024px) {
  .master-class {
    margin-top: 0;
    background-image: url("./images/mainfoto-1024.jpg");
  }
}

.master-class:after {
  content: "#мастеркласс";
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 6px 14px;
  font-size: 14px;
  line-height: 16px;
  background-color: #333333;
  color: #FFFFFF;
  right: 16px;
  top: 16px;
  padding: 7px 15px;
}

@media (max-width: 320px) {
  .master-class:after {
    padding: 4px 14px;
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .master-class:after {
    right: 8px;
    top: 5px;
    padding: 4px 7px;
  }
}

.master-class__content {
  padding-top: 405px;
  padding-left: 58px;
}

@media (max-width: 1024px) {
  .master-class__content {
    padding-top: 425px;
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  .master-class__content {
    padding-top: 225px;
    padding-left: 28px;
  }
}

@media (max-width: 576px) {
  .master-class__content {
    padding-top: 234px;
    padding-left: 28px;
  }
}

.master-class__text {
  font-size: 16px;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .master-class__text {
    font-size: 14px;
  }
}

.master-class__title {
  padding-top: 2px;
  line-height: 37.44px;
  font-size: 36px;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .master-class__title {
    padding-top: 7px;
    font-size: 34px;
  }
}

@media (max-width: 768px) {
  .master-class__title {
    padding-top: 15px;
    line-height: 30.6px;
  }
}

@media (max-width: 576px) {
  .master-class__title {
    padding-top: 10px;
    font-size: 24px;
    line-height: 26.4px;
  }
}

@media (max-width: 320px) {
  .master-class__title {
    width: 200px;
  }
}

.master-class__btn {
  border: 3px solid #FF6E30;
  background-color: #FF6E30;
  color: #FFFFFF;
  margin-top: 19px;
}

.master-class__btn:hover {
  background-color: #BC572B;
  border-color: #BC572B;
}

.master-class__btn:focus {
  background-color: #CE4307;
  border-color: #CE4307;
}

.master-class__btn:active {
  background-color: #FF6E30;
  border-color: #CE4307;
}

@media (max-width: 1024px) {
  .master-class__btn {
    margin-top: 16px;
  }
}

@media (max-width: 768px) {
  .master-class__btn {
    margin-top: 23px;
  }
}

@media (max-width: 576px) {
  .master-class__btn {
    margin-top: 14px;
  }
}

.photos__list {
  margin-top: 21px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 300px 257px;
      grid-template-rows: 300px 257px;
  grid-gap: 30px;
}

@media (max-width: 1024px) {
  .photos__list {
    margin-top: 25px;
    -ms-grid-rows: 332px 186px;
        grid-template-rows: 332px 186px;
  }
}

@media (max-width: 768px) {
  .photos__list {
    margin-top: 17px;
    -ms-grid-rows: 228px 133px;
        grid-template-rows: 228px 133px;
  }
}

@media (max-width: 576px) {
  .photos__list {
    margin-top: 16px;
    -ms-grid-rows: 186px 146px;
        grid-template-rows: 186px 146px;
  }
}

@media (max-width: 320px) {
  .photos__list {
    -ms-grid-rows: 186px 105px;
        grid-template-rows: 186px 105px;
  }
}

.photos__item:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.photos__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  .photos__title {
    line-height: 24.96px;
  }
}

@media (max-width: 768px) {
  .photos__title {
    font-size: 22px;
    line-height: 22.88px;
  }
}

@media (max-width: 576px) {
  .photos__title {
    font-size: 18px;
    line-height: 18.72px;
  }
}

.about-studio {
  background-color: #202020;
}

.about-studio__container {
  padding-top: 30px;
  padding-bottom: 70px;
}

@media (max-width: 1024px) {
  .about-studio__container {
    padding-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .about-studio__container {
    padding-bottom: 64px;
  }
}

@media (max-width: 576px) {
  .about-studio__container {
    padding-bottom: 60px;
  }
}

@media (max-width: 320px) {
  .about-studio__container {
    padding-top: 32px;
  }
}

.about-studio__title {
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .about-studio__title {
    font-size: 18px;
  }
}

.about-studio__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 4px;
}

@media (max-width: 576px) {
  .about-studio__content {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: 1fr 441px;
        grid-template-rows: 1fr 441px;
    grid-gap: 18px;
  }
}

@media (max-width: 320px) {
  .about-studio__content {
    grid-gap: 24px;
  }
}

.text-about {
  line-height: 28px;
  color: #CACACA;
}

@media (max-width: 1024px) {
  .text-about {
    padding-right: 4px;
  }
}

@media (max-width: 576px) {
  .text-about {
    font-size: 14px;
    line-height: 25px;
  }
}

.subscribe {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 22px 50px;
      grid-template-rows: 1fr 22px 50px;
  grid-gap: 13px;
}

@media (max-width: 1024px) {
  .subscribe {
    -ms-grid-rows: 332px 22px 120px;
        grid-template-rows: 332px 22px 120px;
    grid-gap: 19px;
  }
}

@media (max-width: 768px) {
  .subscribe {
    -ms-grid-rows: 569px 22px 120px;
        grid-template-rows: 569px 22px 120px;
  }
}

@media (max-width: 687px) {
  .subscribe {
    -ms-grid-rows: 569px 44px 120px;
        grid-template-rows: 569px 44px 120px;
  }
}

@media (max-width: 576px) {
  .subscribe {
    -ms-grid-rows: 278px 22px 100px;
        grid-template-rows: 278px 22px 100px;
  }
}

.subscribe__foto {
  width: 100%;
  height: 95%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  .subscribe__foto {
    width: 466px;
    height: 332px;
  }
}

@media (max-width: 768px) {
  .subscribe__foto {
    width: 100%;
    height: 100%;
  }
}

.subscribe__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .subscribe__title {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .subscribe__title {
    padding-top: 6px;
  }
}

.subscribe__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 127px;
      grid-template-columns: 1fr 127px;
  grid-gap: 26px;
}

@media (max-width: 1024px) {
  .subscribe__form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.form__input-subscribe {
  width: 100%;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: #4A4A4A;
  color: #CACACA;
}

@media (max-width: 1024px) {
  .form__input-subscribe {
    width: 73%;
  }
}

@media (max-width: 768px) {
  .form__input-subscribe {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .form__input-subscribe {
    font-size: 14px;
  }
}

.form__input-subscribe:hover {
  color: #FF6E30;
}

.form__input-subscribe:focus {
  outline: 1px solid #FF6E30;
}

.form__input-subscribe:active {
  color: #FFFFFF;
}

.form__btn {
  border: 3px solid #FF6E30;
  background-color: #FF6E30;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 16px;
}

.form__btn:hover {
  background-color: #BC572B;
  border-color: #BC572B;
}

.form__btn:focus {
  background-color: #CE4307;
  border-color: #CE4307;
}

.form__btn:active {
  background-color: #FF6E30;
  border-color: #CE4307;
}

@media (max-width: 1024px) {
  .form__btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (max-width: 576px) {
  .form__btn {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .form {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50px 50px;
        grid-template-rows: 50px 50px;
    grid-gap: 20px;
  }
}

@media (max-width: 576px) {
  .form {
    -ms-grid-rows: 40px 40px;
        grid-template-rows: 40px 40px;
  }
}

.projects__container {
  padding-top: 68px;
  padding-bottom: 68px;
}

@media (max-width: 576px) {
  .projects__container {
    padding-top: 50px;
    padding-bottom: 54px;
  }
}

@media (max-width: 576px) {
  .projects__title {
    font-size: 18px;
  }
}

.projects__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1.57fr 1.57fr;
      grid-template-columns: 1fr 1fr 1fr 1.57fr 1.57fr;
  -ms-grid-rows: 300px 300px;
      grid-template-rows: 300px 300px;
  gap: 30px;
  margin-top: 12px;
}

@media (max-width: 1024px) {
  .projects__list {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    grid-gap: 24px 30px;
    -ms-grid-rows: 285px 307px 307px;
        grid-template-rows: 285px 307px 307px;
    grid-auto-flow: dense;
  }
}

@media (max-width: 768px) {
  .projects__list {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-gap: 26px 30px;
    -ms-grid-rows: 300px 300px 307px 300px;
        grid-template-rows: 300px 300px 307px 300px;
    grid-auto-flow: dense;
  }
}

@media (max-width: 576px) {
  .projects__list {
    -ms-grid-columns: none;
        grid-template-columns: none;
    grid-gap: 0;
    grid-row-gap: 25px;
    -ms-grid-rows: 278px 278px 278px 422px 300px 300px 422px;
        grid-template-rows: 278px 278px 278px 422px 300px 300px 422px;
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.project:nth-child(4) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
}

.project:nth-child(5) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

@media (max-width: 1024px) {
  .project:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .project:nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
  .project:nth-child(3) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
  }
  .project:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  .project:nth-child(5) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-column: 4/9;
  }
  .project:nth-child(6) {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6/9;
  }
  .project:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

@media (max-width: 768px) {
  .project:nth-child(3) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/7;
  }
  .project:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
  .project:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .project:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .project:nth-child(7) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
  }
}

@media (max-width: 576px) {
  .project:nth-child(1), .project:nth-child(2), .project:nth-child(3), .project:nth-child(4), .project:nth-child(5), .project:nth-child(6), .project:nth-child(7) {
    grid-column: none;
  }
}

.project__foto {
  position: relative;
  width: 100%;
  height: 184px;
  padding: 7px;
  background-size: cover;
  background-repeat: no-repeat;
}

.project__foto:after {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 6px 14px;
  font-size: 14px;
  line-height: 16px;
  background-color: #333333;
  color: #FFFFFF;
}

@media (max-width: 320px) {
  .project__foto:after {
    padding: 4px 14px;
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .project__foto:after {
    right: 7px;
    top: 6px;
  }
}

.project__foto-1 {
  background-image: url("./images/landscape.jpg");
}

.project__foto-1:after {
  content: "#пейзаж";
}

.project__foto-2 {
  background-image: url("./images/portrait.jpg");
}

.project__foto-2:after {
  content: "#портрет";
}

.project__foto-3 {
  background-image: url("./images/thing.jpg");
}

.project__foto-3:after {
  content: "#предмет";
}

.project__foto-4 {
  height: 100%;
  background-image: url("./images/eye.jpg");
}

.project__foto-4:after {
  content: "#fuji";
}

.project__foto-5 {
  height: 100%;
  background-image: url("./images/oblivion.jpg");
}

.project__foto-5:after {
  content: "#проектзабвение";
}

.project__foto-6 {
  background-image: url("./images/retouch.jpg");
}

.project__foto-6:after {
  content: "#ретушь";
}

.project__foto-7 {
  background-image: url("./images/model.jpg");
}

.project__foto-7:after {
  content: "#портрет";
}

.project__content {
  width: 315px;
  padding-top: 14px;
  padding-left: 22px;
}

@media (max-width: 1024px) {
  .project__content {
    padding-top: 24px;
  }
}

@media (max-width: 320px) {
  .project__content {
    width: 219px;
    padding-top: 191px;
  }
}

.project__text {
  height: 63px;
  margin-bottom: 13px;
  margin-top: 18px;
  line-height: 22px;
  color: #202020;
  overflow: hidden;
}

.project__text-4, .project__text-5 {
  margin-top: 6px;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .project__text {
    height: 44px;
    margin-bottom: 18px;
  }
  .project__text-4, .project__text-5, .project__text-6, .project__text-7 {
    height: 66px;
  }
}

@media (max-width: 768px) {
  .project__text {
    height: 63px;
  }
  .project__text-4, .project__text-5, .project__text-6, .project__text-7 {
    height: 66px;
  }
}

@media (max-width: 576px) {
  .project__text {
    height: 44px;
    margin-bottom: 10px;
  }
  .project__text-4, .project__text-5 {
    font-size: 14px;
  }
  .project__text-6, .project__text-7 {
    height: 66px;
  }
}

.project__title {
  margin-top: 6px;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}

.project__btn {
  border: 3px solid #FF6E30;
  color: #FFFFFF;
  position: absolute;
  bottom: 30px;
}

.project__btn:hover {
  background-color: #FF6E30;
}

.project__btn:focus {
  background-color: #CE4307;
  border-color: #CE4307;
}

.project__btn:active {
  background-color: #BC572B;
  border-color: #FF6E30;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.date__icon {
  width: 14px;
  height: 14px;
  fill: #999999;
}

.date__icon-4, .date__icon-5 {
  fill: #FFFFFF;
}

.date__when {
  font-size: 12px;
  color: #999999;
}

.date__when-4, .date__when-5 {
  color: #FFFFFF;
}

.contacts__container {
  padding-bottom: 68px;
}

@media (max-width: 576px) {
  .contacts__container {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .contacts__title {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
  }
}

.contacts__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 66% 31.8%;
      grid-template-columns: 66% 31.8%;
  gap: 30px;
  margin-top: 22px;
}

@media (max-width: 1024px) {
  .contacts__content {
    -ms-grid-columns: 60% 36%;
        grid-template-columns: 60% 36%;
  }
}

@media (max-width: 768px) {
  .contacts__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 460px 445px;
        grid-template-rows: 460px 445px;
    grid-gap: 24px;
  }
}

@media (max-width: 576px) {
  .contacts__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 464px 429px;
        grid-template-rows: 464px 429px;
    margin-top: 25px;
  }
}

.contacts #map {
  position: relative;
  width: 100%;
  height: 460px;
}

@media (max-width: 576px) {
  .contacts #map {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .contacts__forms {
    width: 466px;
  }
}

@media (max-width: 576px) {
  .contacts__forms {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

[class*="ground-pane"] {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.ymaps-2-1-79-map-bg,
.ymaps-2-1-79-map {
  width: 100% !important;
  height: 100% !important;
}

.map__info {
  position: absolute;
  z-index: 2;
  width: 410px;
  height: 460px;
  padding: 171px 50px 150px 60px;
  background: rgba(32, 32, 32, 0.85);
}

@media (max-width: 1024px) {
  .map__info {
    bottom: 0;
    width: 100%;
    height: 157px;
    padding: 20px 0 0 30px;
  }
}

@media (max-width: 576px) {
  .map__info {
    padding: 25px 0 0 19px;
  }
}

.info {
  width: 293px;
}

@media (max-width: 768px) {
  .info {
    width: 436px;
  }
}

@media (max-width: 576px) {
  .info {
    width: 268px;
  }
}

.info__close {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
  background-color: #666666;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.info__title {
  font-weight: 400;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .info__title {
    font-size: 18px;
  }
}

.info__text {
  font-size: 16px;
  line-height: 28px;
  font-style: normal;
  color: #CACACA;
}

@media (max-width: 576px) {
  .info__text {
    padding-top: 11px;
    font-size: 14px;
    line-height: 18px;
  }
}

.info__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .info__call {
    position: absolute;
    left: 120px;
    bottom: 22px;
  }
}

@media (max-width: 768px) {
  .info__call {
    position: inherit;
    padding-top: 4px;
  }
}

@media (max-width: 576px) {
  .info__call {
    padding-top: 10px;
  }
}

.call__icon {
  width: 22px;
  height: 22px;
  fill: #FFFFFF;
}

@media (max-width: 1024px) {
  .call__icon {
    fill: #FF6E30;
  }
}

@media (max-width: 576px) {
  .call__icon {
    width: 20px;
    height: 20px;
  }
}

.call__tel {
  font-family: 'TTFirsNeue';
  line-height: 21px;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .call__tel {
    color: #FF6E30;
  }
}

@media (max-width: 576px) {
  .call__tel {
    font-size: 14px;
    line-height: 18px;
  }
}

.forms__title {
  margin-top: -10px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .forms__title {
    margin-top: -12px;
  }
}

@media (max-width: 768px) {
  .forms__title {
    margin-top: -5px;
  }
}

@media (max-width: 768px) {
  .forms__title {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .forms__title {
    margin-top: -2px;
  }
}

.forms__text {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 22px;
  color: #999999;
}

@media (max-width: 576px) {
  .forms__text {
    margin-top: 7px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 18px;
  }
}

.forms__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 50px 150px 50px;
      grid-template-rows: 50px 50px 150px 50px;
  grid-gap: 20px;
}

@media (max-width: 576px) {
  .forms__form {
    -ms-grid-rows: 40px 40px 150px 40px;
        grid-template-rows: 40px 40px 150px 40px;
  }
}

.form__input {
  width: 100%;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: #E9E9E9;
  color: #999999;
}

@media (max-width: 1024px) {
  .form__input {
    margin-bottom: 0;
  }
}

@media (max-width: 320px) {
  .form__input {
    font-size: 14px;
  }
}

.form__input:hover {
  color: #FF6E30;
}

.form__input:focus {
  outline: 1px solid #FF6E30;
}

.form__input:active {
  color: #202020;
}

.form__input-massage {
  height: 150px;
  padding-top: 15px;
}

.form__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer {
  background-color: #202020;
}

.footer__container {
  height: 106px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 34% 1fr 16%;
      grid-template-columns: 34% 1fr 16%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .footer__container {
    -ms-grid-columns: 35% 1fr 20%;
        grid-template-columns: 35% 1fr 20%;
  }
}

@media (max-width: 900px) {
  .footer__container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .footer__container {
    height: 185px;
    padding: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 123px 62px;
        grid-template-rows: 123px 62px;
    background-color: none;
  }
}

@media (max-width: 576px) {
  .footer__logo {
    height: 100%;
    width: 100%;
    padding-top: 8px;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-color: #4A4A4A;
  }
}

@media (max-width: 320px) {
  .footer__logo {
    padding-top: 12px;
  }
}

.footer__copyrights {
  font-family: "TTFirsNeue";
  font-size: 14px;
  color: #FFFFFF;
}

@media (max-width: 320px) {
  .footer__copyrights {
    font-size: 10px;
  }
}

.footer__tagline {
  margin-top: 6px;
  width: 361px;
  line-height: 22px;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .footer__tagline {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 900px) {
  .footer__tagline {
    display: none;
  }
}

.footer__social {
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (max-width: 576px) {
  .footer__social {
    height: 100%;
    width: 100%;
    padding-top: 28px;
    text-align: center;
    background-color: #202020;
  }
}

.footer__social .social__list {
  padding-top: 11px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__link {
  color: #FFFFFF;
}

.tagline__name {
  color: #666666;
}
/*# sourceMappingURL=styles.css.map */